<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    
    <form action="{% url 'pokemon' %}" method="get">
        <button type="submit">Go to Pokemon Page</button>
    </form>

    <form action="{% url 'locations' %}" method="get">
        <button type="submit">Go to Map Page</button>
    </form>

    <form action="{% url 'trainer' %}" method="get">
        <button type="submit">Go to Trainer Page</button>
    </form>

    <form action="{% url 'teams' %}" method="get">
        <button type="submit">Go to Teams Page</button>
    </form>
</body>
</html>