<!-- pokemon_card.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <form action="{% url 'home' %}" method="get">
    <button type="submit">Back to Main Menu</button>
  </form>
  <meta charset="UTF-8">
  <title>{{ trainer.t_name }} Card</title>
  <style>
    /* Some basic styling */
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 20px;
    }
    .trainer-card {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    h1 {
      text-align: center;
    }
  </style>
</head>
<body>

{% for x in trainers %}
    {% if x.t_id == trainer.t_id %}
        <div class="trainer-card">
            <h1>{{ x.t_name }}</h1>
            <p>Trainer ID: {{ x.t_id }}</p>
            {% for pokemon, ids in x.Pokemon %}
                <a class="pokemon-link" href="{% url 'pokemon_card' pokemon.0 %}">{{ pokemon.0 }}</a>
                <img class="pokemon-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/ceff190a63a58c266a2d8bc10525f56a83ff3992/sprites/pokemon/other/showdown/{{ ids.0 }}.gif">
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>
            <!-- Other trainer details can be displayed here -->
        </div>
        {% endif %}
{% endfor %}



</body>
</html>
